# Supabase 설정
# 이 파일을 .env.local로 복사하고 값을 입력하세요

NEXT_PUBLIC_SUPABASE_URL=https://miqmyzysafasojdhnoro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pcW15enlzYWZhc29qZGhub3JvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NTQ4OTQsImV4cCI6MjA4MjEzMDg5NH0.4D7Iwg9w96dwgKJgiunOjQXR5jvVwYQbbqmguYvIl94

